
<div class="container">
<div style="text-align:center">
<h1>PRODUCT DETAILS</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" routerLink="/all">ALL</a>
            </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add">ADD <span class="sr-only">(current)</span></a>
        </li>
        </ul>
      </div>
      
  </nav>





</div>
<router-outlet></router-outlet>

</div>
